.product-container {
  display: flex;
  align-items: center;
}

.image-container {
  margin-right: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 5px;
  margin-right: 5px;
}

/* Add any additional styling as needed */
